
  /* ========================================= import font 'Montserrat' from google ========================================= */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
 
  /* ========================================= Start Global Rules =========================================*/

  *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--page-background);
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
:root{
    --page-background:#F7F7F7;
    --main-btn-bg-color:#BA9950;
    --main-btn-color:#F7F7F7;
    --btn-hover-color:#BA9950;
    --btn-border:#BA9950;
    --btn-bg-hover-color:#F7F7F7;
}
/* ========================================= End Global Rules ========================================= */

/* ========================================= Start Navbar =========================================*/


.btn .login-btn{
    padding-top: 0;

}
.Join-us-btn,.try-it-btn{
    width: 144px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-btn-bg-color);
    color: var(--main-btn-color);
    font-size: 15px;
    font-weight: bold;
}
.Join-us-btn:hover,.try-it-btn:hover{
    background-color: var(--btn-bg-hover-color);
    color: var(--btn-hover-color);
    border: 1px solid var(--btn-border);
    transition: 0.4s;
}
.dropdown-toggle::after{
    display: none;
}

.navbar-toggler{
    border: none;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }
.nav-link,.login-btn,.dropdown-menu{
    font: normal normal medium 15px/24px 'Montserrat' !important;
    color: #727272 !important;
}
.dropdown .dropdown-menu ,.dropdown-menu .show{
    width: 55px !important;
}

@media (max-width:576px) {
    .logo img{
        width: 90px;
    }
}
  /* ========================================= End Navbar =========================================*/

  /*  ========================================= Start Header ========================================= */
  .header{
    min-height: 464px;
    width: 100%;
    position: relative;
    margin-top: 80px;
}
/* .bg{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(../images/Bg-img.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -9999;
    opacity: 0.1;
} */
.try-it-btn{
    width: 151px;
}

.header-info h1{
    font-size: 55px;
}
.header-info h1>:nth-child(2){
    color: #BA9950;
}
.header-info p{
    font-size: 17px;
    max-width: 555px;
}
.header-image{
    position: relative;
    width: 100%;
}
.header-image img{
    position: absolute;
    right: -17%;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width:1200px) {
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-info {
        margin-bottom: 50px;
        text-align: center;
    }
    .header-image{
        width: fit-content;
    }
    .header-info h1{
        font-size: 40px;
    }
    .header-image img{
        position: relative;
        right: unset;
        top: unset;
        transform: none;
    }
    .header-info p{
        max-width: 700px;
    }
    .try-it-btn{
        margin: 0 auto;
    }
}
@media (max-width:768px) {
    .header-info h1{
        font-size: 31px;
    }
    .header-info p {
        font-size: 16px;    
    }
    .header-image img{
        max-width: 100%;
        margin: 0 auto;
    }

}
  /*  ========================================= End Header ========================================= */
