/* ========================================= import font 'Montserrat' from google ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

/* ========================================= Start Global Rules =========================================*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--page-background);
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

:root {
    --page-background: #F7F7F7;
    --main-btn-bg-color: #BA9950;
    --main-btn-color: #F7F7F7;
    --btn-hover-color: #BA9950;
    --btn-border: #BA9950;
    --btn-bg-hover-color: #F7F7F7;
}

/* ========================================= End Global Rules ========================================= */

/* ========================================= Start Navbar =========================================*/

.navbar{
    background-color: #FFFFFF;
    position: relative;
    height: 70px;
}
.navbar::before,.navbar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: -9999;
    box-shadow: 1px 1px 1px 1px #E3E3E3;
}
.navbar::before{
    left: -150px;
}
.navbar::after{
    right: -150px;
}
.navbar-toggler {
    border: none;
}
.active-link{
    position: relative;
    font-weight: bold;
    color: #BA9950;
}
.active-link:hover{
    color: #BA9950;
}

.active-link::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #BA9950;
    position: absolute;
    bottom: -12px;
    left: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-navbar{
    margin-left: 30px;
}


.nav-item {
    display: flex;
    align-items: center;
}
.nav-link span{
    margin-left: 10px;
    font-size: 15px;
}
.nav-link:not(.active-link) span{
    color: #727272;
}
.nav-link:not(.active-link) span:hover{
    color: #727272;
}
.span-animation {
    width: 0;
    height: 2px;
    border-radius: 8px;
    background-color: #BA9950;
    margin-left: 8px;
    margin-top: -5px;
}
.dropdown-menu{
    padding: 24px 30px;
    border-radius: 0;
}
.dropdown-menu[data-bs-popper]{
    left: calc(100% - 179px);
    width: 300px;
    background-color: #1A1818;

}
.dropdown-menu .dropdown-item{
    color: #F7F7F7; 
    font-size: 15px;
    padding-left: 0;
}
.dropdown-item:hover,.dropdown-item:focus{
    background-color: transparent;
}
.dropdown-menu .dropdown-item span{
    margin-left: 10px;
}
.dropdown-menu li{
    width: 240px;
    margin: 0 auto;
    height: 37px;
}
.dropdown-menu li:not(:last-of-type){
    border-bottom: 1px solid #4E4B4B;
}
.notifications-navbar{
    position: relative;
    cursor: pointer;
}
.num-of-notifications{
    position: absolute;
    top: -13px;
    left: 8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #BA9950;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler:focus .navbar::before{
    box-shadow: none;
}

.nav-container-bg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: -9999;
    left: 50%;
    transform: translateX(-50%);
}

@media(max-width:1286px){
    .dropdown-menu[data-bs-popper]{
        width: 265px;
    }
    .dropdown-menu li{
        width: 200px;
    }
}
@media(max-width:1200px){
    .nav-link span{
        font-size: 11px;
    }
}

@media(max-width:992px){
    .logo{
        display: none;
    }
    .navbar-toggler{
        margin: 0 auto;
    }
    .overlay-bg{
        display: none !important;
    }
    .navbar-collapse{
        margin-top: 30px;
        background-color: #F7F7F7;
        border: 1px solid #BA9950;
        padding-top: 40px;
        box-shadow: 0px 3px 6px #00000029;
    }
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Join-us-btn{
        margin: 39px auto;
    }
    .navbar-collapse{
        transition: 0s;
    }
    .nav-container-bg{
        background-color:#FFFFFF;
        height: 100vh;
        max-width: 100%;
    }
    .nav-item{
        width: 180px;
        margin-left: 45px;
    }

    .active-link::after{
        bottom: -2px;
    }
    .dropdown-menu[data-bs-popper] {
        left: 50%;
        top: 436px;
        transform: translateX(-50%);
    }
    .nav-link span{
        font-size: 15px;
    }
}
@media (max-width:576px) {
    .logo img {
        width: 90px;
    }
    .dropdown-menu[data-bs-popper] {
        left: 50%;
        width: 200px;
        top: 436px;
        transform: translateX(-50%);
    }
    .dropdown-menu li {
    width: 150px;
    }
    .dropdown-menu{
        padding: 15px;
    }
}
/* ========================================= End Navbar =========================================*/

/* ========================================= Start Page ========================================= */
    .page{
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .my-courses,.latest-activity{
        width: 653px;
        height: 451px;
        background-color: #FFFFFF;
        border-radius: 8px;
        padding: 10px 16px;
        overflow-y: hidden;
    }
    .latest-activity-content{
        height: 451px;
        overflow: scroll;
    }
    .latest-activity{
        position: relative;
    }
    .my-courses-header,.latest-activity-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        border-bottom: 1px solid #DEDEDE;
        padding: 0px  0 10px 0;
    }
    .my-courses-header p,.latest-activity-header p{
        margin-bottom: 0;
    }
    .my-courses-header>:first-child,.latest-activity-header>:first-child{
        color: #1A1818;
    }
    .my-courses-header>:nth-child(2),.latest-activity-header>:nth-child(2){
        display: flex;
        align-items: center;
        color: #BA9950;
    }
    .my-courses-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 100%;
    }
    .no-courses{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    .no-courses h1{
        font-size: 26px;
        font-weight: bold;
        margin-top: 10px;
    }
    .no-courses p{
        font-size: 12px;
        color: #727272;
    }
    .no-courses a{
        width: 175px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        color: #F7F7F7;
        background-color: #BA9950;
    }
    .activity-header,.activity-btns{
        display: flex;
        align-items: center;
    }
    .activities{
        padding: 20px 0;
    }
    .activity{
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .activity p{
        margin-bottom: 0;
    }
    .activity>:nth-child(2){
        width: calc(100% - 60px);
        margin-left: 15px;
        padding-bottom: 10px;
    }
    .activity:not(:last-of-type)>:nth-child(2){
        border-bottom: 1px solid #DEDEDE;
    }
    .activity-username,.verified,.activity-action{
        margin-left: 10px;
    }
    .activity-content,.activity-btns{
        margin-top: 9px;
    }
    .activity-date{
        margin-top: 4px;
        font-size: 12px;
        color: #727272;
    }
    .activity-action{
        font-size: 15px;
        color:  #1A1818;
    }
    .activity-username{
        font-size: 15px;
        font-weight: bold;
        color: #1A1818;
    }
    .Comment{
        margin-left: 20px;  
    }
    .like,.Comment{
        font-size: 12px;
        color: #1A1818;
    }
    .latest-activity-content::-webkit-scrollbar {
        width: 7px; 
        height: 50px;
      }
      .latest-activity-content{
        margin-top: 10px;
      }
      .latest-activity-content::-webkit-scrollbar-thumb {
        background-color: #DEDEDE;
        border-radius: 5px; 
        position: relative;
      }
      @media(max-width:1286px){
        .my-courses,.latest-activity{
            width: calc(98%/2);
        }
      }
      @media(max-width:992px){
        .my-courses,.latest-activity{
            width: 100%;
        }
        .my-courses{
            margin-bottom: 20px;
        }
      }
      @media (max-width:768px) {
        .navbar::before{
            left: -116px;
        }
        .navbar::after{
            right: -116px;
        }
      }
      @media (max-width:576px) {
        .navbar::before{
            left: -12px;
        }
        .navbar::after{
            right: -12px;
        }
      }
/* ========================================= End Page ========================================= */

/* ========================================= Start Our Courses ========================================= */
.our-courses{
    margin-top: 30px;
    margin-bottom: 30px;
}
.course{
    display: flex;
    align-items: center;
    position: relative;
}
.our-courses-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.our-courses-title h1{
    font-size: 26px;
    color: #1A1818;
    font-weight: bold;
}
.our-courses-title a{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #BA9950;
}
.our-courses-title a p{
    margin-bottom: 0;
}
.price{
    position: absolute;
    right: 10px;   
    width: 63px;
    height: 24px;
    background-color: #BA9950;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 10px ;
    top: 6px;
}
.course-details{
    width: 353px;
    height: 140px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 21px 30px;
}
.course-title{
    font-size: 15px;
    font-weight: bold;
    color: #1A1818;
}
.course-description{
    font-size: 12px;
    color: #727272;
}
.data-about-course,.data-about-course div{
    display: flex;
    align-items: center;
}
.data-about-course div p{
    margin-bottom: 0;
    font-size: 12px;
}
.data-about-course>:first-child p{
    color: #BA9950;
    margin-left: 5px;
}
.data-about-course>:first-child span{
    font-size: 12px;
    font-weight: bold;
    color:#BA9950;
}
.data-about-course>:nth-child(2){
    margin-left: 23px;
}
.data-about-course>:nth-child(2) p{
    margin-left: 5px;
    color: #1A1818;
    font-size: 12px;
}
.data-about-course>:nth-child(2)  span{
    font-weight: bold;
}

@media (max-width:1286px) {
    .course>:first-child{
        width: 220px;
        height: 140px;
    }
    .course-details{
        padding: 10px;
        height: 130px;
    }
    .price{
        right: 11px;
    }
}
@media (max-width:1200px) {
    .course{
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .price{
        right: 194px;
    }
}
@media (max-width:992px) {
    .price{
        right: 74px;
    }
}
@media (max-width:768px){
    .price{
        right: 12px;
    }
}
@media (max-width:576px){
    .course{
        flex-direction: column;
    }
    .course>:first-child,.course>:nth-child(2){
        height: max-content;
    }
    .course>:first-child,.course>:nth-child(2){
        width: 100%;
    }
    .course>:nth-child(2){
        padding: 10px 15px;
    }
    .price{
        top: 0;
    }
}
/* ========================================= End Our Courses ========================================= */

/* ========================================= Start Tools  ========================================= */
    .tools-title h1{
        font-size: 26px;
        font-weight: bold;
    }
    .tools-title p{
        font-size: 15px;
        color: #727272;
    }
    .tools-cards div{
        width: 315px;
        height: 210px;
        background-color: #1A1818;
        border-radius: 8px;
        text-align: center;
        margin: 0 auto;
        padding: 10px 10px 22px 10px;
        margin-bottom: 33px;
    }
    .tools-cards div h1{
        font-size: 15px;
        font-weight: bold;
        color: #F7F7F7;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .tools-cards div p{
        font-size: 12px;
        color: #F7F7F7;
    }
    @media (max-width:576px) {
        .tools-cards div{
            width: 97%;
            height: max-content;
        }
        .tools-cards div img{
            width: 100%;
        }
    }
/* ========================================= End Tools  ========================================= */

/* ========================================= Start Footer ========================================= */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer>:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links ul,
.footer-social-media-links ul,
.footer>:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.footer>:first-child p {
    margin-bottom: 0;
    margin-left: 17px;
}

footer ul li {
    list-style: none;
}

.footer-social-media-links ul li a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    border: 1px solid #707070;
    margin-left: 10px;
}

.footer-links ul li a {
    font-size: 15px;
    color: #1A1818;
}

.footer-links ul li {
    margin-left: 25px;
}
.footer-social-media-links ul li a:hover{
    border: 1px solid white;
    background-color: #BA9950;
    transition: 0.4s;
}
.footer-social-media-links ul li a:hover i{
    color: white;
}
.footer-social-media-links ul li a i{
    color: black;
}
@media(max-width:1200px) {
    .footer-links ul li {
        font-size: 13px;
        margin-left: 13px;
    }

    .footer>:first-child p {
        font-size: 13px;
    }
}

@media(max-width:992px) {
    .footer>:first-child {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-links ul li {
        margin-top: 12px;
    }

    .footer>:first-child p {
        margin-left: 0;
        margin-top: 12px;
    }

    footer ul {
        padding-left: 0;
    }

    .footer>:nth-child(2) {
        flex-direction: column-reverse;
    }

    .footer-links {
        align-self: flex-start;
    }

}



@media (max-width:576px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer>:nth-child(2) {
        margin-top: 20px;
    }

    .first-link,
    .footer-links ul>:first-of-type {
        margin-left: 0 !important;
    }
}

/* ========================================= End Footer ========================================= */