/* ========================================= import font 'Montserrat' from google ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

/* ========================================= Start Global Rules =========================================*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--page-background);
    overflow-x: hidden !important;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1 {
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --page-background: #F7F7F7;
    --main-btn-bg-color: #BA9950;
    --main-btn-color: #F7F7F7;
    --btn-hover-color: #BA9950;
    --btn-border: #BA9950;
    --btn-bg-hover-color: #F7F7F7;
}

/* ========================================= End Global Rules ========================================= */

/* ========================================= Start Navbar =========================================*/

.navbar {
    background-color: #FFFFFF;
    position: relative;
    height: 70px;
    z-index: 9999;
}

.navbar::before,
.navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: -9999;
    box-shadow: 1px 1px 1px 1px #E3E3E3;
}

.navbar::before {
    left: -150px;
}

.navbar::after {
    right: -150px;
}

.navbar-toggler {
    border: none;
}

.active-link {
    position: relative;
    font-weight: bold;
    color: #BA9950;
}

.active-link:hover {
    color: #BA9950;
}

.active-link::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #BA9950;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-navbar {
    margin-left: 30px;
}


.nav-item {
    display: flex;
    align-items: center;
}

.nav-link span {
    margin-left: 10px;
    font-size: 15px;
}

.nav-link:not(.active-link) span {
    color: #727272;
}

.nav-link:not(.active-link) span:hover {
    color: #727272;
}

.span-animation {
    width: 0;
    height: 2px;
    border-radius: 8px;
    background-color: #BA9950;
    margin-left: 8px;
    margin-top: -5px;
}

.dropdown-menu {
    padding: 24px 30px;
    border-radius: 0;
}

.dropdown-menu[data-bs-popper] {
    left: calc(100% - 179px);
    width: 300px;
    background-color: #1A1818;

}

.dropdown-menu .dropdown-item {
    color: #F7F7F7;
    font-size: 15px;
    padding-left: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: transparent;
}

.dropdown-menu .dropdown-item span {
    margin-left: 10px;
}

.dropdown-menu li {
    width: 240px;
    margin: 0 auto;
    height: 37px;
}

.dropdown-menu li:not(:last-of-type) {
    border-bottom: 1px solid #4E4B4B;
}

.notifications-navbar {
    position: relative;
    cursor: pointer;
}

.num-of-notifications {
    position: absolute;
    top: -13px;
    left: 8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #BA9950;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler:focus .navbar::before {
    box-shadow: none;
}

.nav-container-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: -9999;
    left: 50%;
    transform: translateX(-50%);
}

.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Set maximum height to 100% of viewport height */
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
    display: none;
    /* Initially hide the overlay */
    z-index: 999;
    /* Ensure the overlay is above other content */
}

@media(max-width:1286px) {
    .dropdown-menu[data-bs-popper] {
        width: 265px;
    }

    .dropdown-menu li {
        width: 200px;
    }
}

@media(max-width:1200px) {
    .nav-link span {
        font-size: 11px;
    }
}

@media(max-width:992px) {
    .logo {
        display: none;
    }

    .navbar-toggler {
        margin: 0 auto;
    }

    .overlay-bg {
        display: none !important;
    }

    .navbar-collapse {
        margin-top: 30px;
        background-color: #F7F7F7;
        border: 1px solid #BA9950;
        padding-top: 40px;
        box-shadow: 0px 3px 6px #00000029;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Join-us-btn {
        margin: 39px auto;
    }

    .navbar-collapse {
        transition: 0s;
    }

    .nav-container-bg {
        background-color: #FFFFFF;
        height: 100vh;
        max-width: 100%;
    }

    .nav-item {
        width: 180px;
        margin-left: 45px;
    }

    .active-link::after {
        bottom: -2px;
    }

    .dropdown-menu[data-bs-popper] {
        left: 50%;
        top: 436px;
        transform: translateX(-50%);
    }

    .nav-link span {
        font-size: 15px;
    }
}

@media (max-width:576px) {
    .logo img {
        width: 90px;
    }

    .dropdown-menu[data-bs-popper] {
        left: 50%;
        width: 200px;
        top: 436px;
        transform: translateX(-50%);
    }

    .dropdown-menu li {
        width: 150px;
    }

    .dropdown-menu {
        padding: 15px;
    }

    .navbar::after {
        right: -12px;
    }
}

/* ========================================= End Navbar =========================================*/

/* ========================================= Start Page Header ========================================= */
    .header{
        width: 100%;
        min-height: 300px;
        position: relative;
        padding: 27px 10px 30px 0;
    }
    .course-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: -1;
    }
    .course-overlay img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .header-price{
        width: 63px;
        height: 24px;
        background-color: #BA9950;
        border-radius: 0 8px 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-price p{
        font-size: 12px;
        color: white;
        font-weight: bold;
    }
    .course-name{
        font-size: 55px;
        font-weight: bold;
        color: white;
    }
    .course-description{
        max-width: 700px;
        font-size: 12px;
        color: white !important;
    }
    .course-date{
        font-size: 12px;
        color: white;
        margin-top: 10px;
    }
    .mentor-info{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .mentor-info .mentor-img-container{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid #F7F7F7;
        position: relative;

    }
    .mentor-info .mentor-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mentor-info>:nth-child(2) {
        margin-left: 12px;
    }
    .mentor-info>:nth-child(2) p{
        font-size: 12px;
        color: white;
    }
    @media (max-width:768px) {
        .course-name{
            font-size: 45px;
        }
    }
    @media (max-width:576px) {
        .course-name{
            font-size: 26px;
            margin-top: 4px;
        }
        .course-description{
            max-width: 100%;
            margin-top: 8px;
        }
        .mentor-info .mentor-img-container{
            align-self: flex-start;
        }
    }
/* ========================================= End Page Header ========================================= */

/* ========================================= Start enrolled Course card  =========================================  */
    .enroll-course{
        position: fixed;
        right: 20px;
        top: 215px;
        background-color: #FFFFFF;
        border-radius: 8px;
        width: 400px;
        height: 400px;
        box-shadow: 0px 10px 30px #BA995033;
        border: 1px solid #DEDEDE;
        z-index: 9999;
        padding-top: 42px;
        padding-bottom: 21px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .people-enrolled{
        display: flex;
        align-items: center;
    }
    .num-of-enrolled{
        font-size: 18px;
        font-weight: bold;
        color: #1A1818;
        margin-left: 10px;
    }
    .people-enrolled p,.lessons-and-quizes p{
        font-size: 18px;
        color: #1A1818;
        margin-left: 4px;
    }
    .lessons-and-quizes{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .lessons-and-quizes p{
        margin-left: 10px;
    }
    .enroll-course h1{
        font-size: 26px;
        color: #BA9950;
        font-weight: bold;
        margin-top: 38px;
    }
    .enroll-course >:nth-child(4){
        font-size: 15px;
        color: #727272;
        max-width: 220px;
    }
    .enroll-course >:nth-child(5){
        margin-top: 45px;
        font-size: 12px;
        color: #727272;
    }
    .enroll-course button{
        border: none;
        background-color: #BA9950;
        color: white;
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 332px;
        max-width: 332px;
        height: 40px;
        margin-top: 18px;
    }
/* ========================================= End enrolled Course card  =========================================  */


/* ========================================= Start Lessons Section  ========================================*/
    .lessons{
        margin-top: 12px;
    }
    .lessons h1{
        font-size: 15px;
        font-weight: bold;
        color: #1A1818;
    }
    .list-of-lessons-container{
        max-height: 307px;
        max-width: 906px;
        border: 1px solid #DEDEDE;
        margin-top: 17px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
    }
    .list-of-lessons-container::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: transparent linear-gradient(180deg, #F7F7F700 0%, #F7F7F7 100%) 0% 0% no-repeat padding-box;
    }
    .list-of-lessons-container>:first-child{
        font-size: 15px;
        padding: 13px 20px;
        color: #1A1818;
    }
    .list-of-lessons{
        padding: 0 20px;
    }
    .list-of-lessons li{
        max-width: 100%;
        height: 45px;
        border-radius: 4px;
        background-color: #DEDEDE;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .list-of-lessons li a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .lesson{
        display: flex;
        align-items: center;
    }
    .list-of-lessons li a>:last-child{
        font-size: 12px;
        color: #727272;
    }
    .lesson-name{
        margin-left: 8px;
        font-size: 12px;
        color: #1A1818;
    }
    .show-all{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
    }
    .show-all p{
        font-size: 15px;
        font-weight: bold;
        color: #BA9950;
    }
    .show-all img{
        margin-left: 20px;
    }
    @media (max-width:1300px) {
        .list-of-lessons-container{
            max-width: 720px;
        }
    }
    @media (max-width:1200px) {
        .list-of-lessons-container{
            max-width: 520px;
        }
    }
    @media (max-width:992px) {
        .enroll-course {
            max-width: 280px;
            height: 300px;
            padding-top: 15px;
            top: 260px;
        }
        .enroll-course button{
            width: 80%;
        }
        .enroll-course h1{
            font-size: 22px;
            margin-top: 10px;
        }
        .enroll-course >:nth-child(4) {
            font-size: 13px;
        }
        .people-enrolled p, .lessons-and-quizes p ,.num-of-enrolled {
            font-size: 14px;
        }
        .list-of-lessons-container{
            max-width: 435px;
        }
    }
    @media (max-width:768px){
        .enroll-course{
            width: 100%;
            max-width: 100%;
            height: 370px;
            padding-top: 42px;
            padding-bottom: 0px;
            position: initial;
            margin: 20px auto;
        }
        .enroll-course h1{
            margin-top: 30px;
        }
        .lessons,.list-of-lessons-container{
            max-width: 100%;
        }
        .enroll-course >:nth-child(4){
            max-width: 185px;
        }
    }
/* ========================================= End Lessons Section =======================================*/

/* ========================================= Start About this Course ========================================= */
    .about-course{
        margin-top: 35px;
        max-width: 900px;
    }
    .about-course h1{
        font-size: 26px;
        color: #1A1818;
        margin-bottom: 8px;
    }
    .about-course p{
        font-size: 18px;
        color: #727272;
    }
    @media (max-width:1300px) {
        .about-course{
            max-width: 700px;
        }
        .about-course p{
            font-size: 15px;
        }
    }
    @media (max-width:1200px) {
        .about-course{
            max-width: 530px;
        }
    }
    @media (max-width:992px) {
        .about-course{
            max-width: 415px;
        }
        .about-course p{
            font-size: 15px;
        }
    }
    @media (max-width:768px) {
        .about-course{
            max-width: 100%;
        }
        .about-course p{
            font-size: 15px;
        }
    }
/* ========================================= End About this Course ========================================= */

/* ========================================= Start Mentor section ========================================= */
    .mentor{
        margin-top: 60px;
        max-width: 906px;
        min-height: 338px;
        background-color: #1A1818;
        border-radius: 8px;
        padding: 16px 62px 26px 29px;
    }
    .mentor>:first-child{
        font-size: 26px;
        font-weight: bold;
        color: white;
    }
    .mentor .mentor-info .mentor-img-container{
        border-color: #9E9E9E;
    }
    .mentor .mentor-info>:nth-child(2)>:first-child{
        font-size: 15px;
        font-weight: bold;
    }
    .about-mentor{
        font-size: 15px;
        color: white;
        margin-top: 21px;
    }
    @media (max-width:1300px) {
        .mentor{
            max-width: 720px;
        }
    }
    @media (max-width:1200px) {
        .mentor{
            max-width: 520px;
        }
    }
    @media (max-width:992px) {
        .mentor{
            max-width: 420px;
        }
    }
    @media (max-width:768px) {
        .mentor{
            max-width: 100%;
            padding: 20px 15px;
        }
    }
/* ========================================= End Mentor section ========================================= */

/*  ========================================= Start interested Courses ========================================= */
.our-courses {
    margin-top: 30px;
    margin-bottom: 30px;
}

.course {
    display: flex;
    align-items: center;
    position: relative;
}

.our-courses-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.our-courses-title h1 {
    font-size: 26px;
    color: #1A1818;
    font-weight: bold;
}

.our-courses-title a {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #BA9950;
}

.our-courses-title a p {
    margin-bottom: 0;
}

.price {
    position: absolute;
    right: 10px;
    width: 63px;
    height: 24px;
    background-color: #BA9950;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 10px;
    top: 6px;
}

.course-details {
    width: 353px;
    height: 140px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 21px 30px;
}

.course-title {
    font-size: 15px;
    font-weight: bold;
    color: #1A1818;
}

.course-description {
    font-size: 12px;
    color: #727272;
}

.data-about-course,
.data-about-course div {
    display: flex;
    align-items: center;
}

.data-about-course div p {
    margin-bottom: 0;
    font-size: 12px;
}

.data-about-course>:first-child p {
    color: #BA9950;
    margin-left: 5px;
}

.data-about-course>:first-child span {
    font-size: 12px;
    font-weight: bold;
    color: #BA9950;
}

.data-about-course>:nth-child(2) {
    margin-left: 23px;
}

.data-about-course>:nth-child(2) p {
    margin-left: 5px;
    color: #1A1818;
    font-size: 12px;
}

.data-about-course>:nth-child(2) span {
    font-weight: bold;
}

@media (max-width:1286px) {
    .course>:first-child {
        width: 220px;
        height: 140px;
    }

    .course-details {
        padding: 10px;
        height: 130px;
    }

    .price {
        right: 11px;
    }
}

@media (max-width:1200px) {
    .course {
        justify-content: flex-start;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .price {
        right: 194px;
    }
}

@media (max-width:992px) {
    .price {
        right: 74px;
    }
}

@media (max-width:768px) {
    .price {
        right: 12px;
    }
}

@media (max-width:576px) {
    .course {
        flex-direction: column;
    }
    .our-courses-title h1{
        font-size: 18px;
    }
    .course>:first-child,
    .course>:nth-child(2) {
        height: max-content;
    }

    .course>:first-child,
    .course>:nth-child(2) {
        width: 100%;
    }

    .course>:nth-child(2) {
        padding: 10px 15px;
    }

    .price {
        top: 0;
    }
}

/*  ========================================= End interested Courses ========================================= */

/* ========================================= Start Footer ========================================= */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer>:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links ul,
.footer-social-media-links ul,
.footer>:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.footer>:first-child p {
    margin-bottom: 0;
    margin-left: 17px;
}

footer ul li {
    list-style: none;
}

.footer-social-media-links ul li a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    border: 1px solid #707070;
    margin-left: 10px;
}

.footer-links ul li a {
    font-size: 15px;
    color: #1A1818;
}

.footer-links ul li {
    margin-left: 25px;
}

.footer-social-media-links ul li a:hover {
    border: 1px solid white;
    background-color: #BA9950;
    transition: 0.4s;
}

.footer-social-media-links ul li a:hover i {
    color: white;
}

.footer-social-media-links ul li a i {
    color: black;
}

@media(max-width:1200px) {
    .footer-links ul li {
        font-size: 13px;
        margin-left: 13px;
    }

    .footer>:first-child p {
        font-size: 13px;
    }
}

@media(max-width:992px) {
    .footer>:first-child {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-links ul li {
        margin-top: 12px;
    }

    .footer>:first-child p {
        margin-left: 0;
        margin-top: 12px;
    }

    footer ul {
        padding-left: 0;
    }

    .footer>:nth-child(2) {
        flex-direction: column-reverse;
    }

    .footer-links {
        align-self: flex-start;
    }

}



@media (max-width:576px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer>:nth-child(2) {
        margin-top: 20px;
    }

    .first-link,
    .footer-links ul>:first-of-type {
        margin-left: 0 !important;
    }
}

/* ========================================= End Footer ========================================= */